@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:ital,wght@0,500;1,400&family=Source+Sans+Pro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:ital,wght@0,500;1,400&family=Sono:wght@300&family=Source+Sans+Pro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
body {
  background-color: white;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}

/* NAVBAR */
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.nav-container {
  margin: 0 ;
background-color: #e72e77;
height: 4rem;
} 
.logotext{
  display: flex;
  align-items: center;
  
}

nav{
  width: 100%;
  height: 4rem;
  background:#e72e77;
  position: fixed;
}

img{
  height: 4rem;
}
nav ul{
  float: right;
  list-style: none;
  position: relative;
  top: -4.5rem;
}
nav ul li{
  display: inline-block;
  line-height: 2.5rem;
}
nav ul li a{
  text-decoration: none;
  color:#ffffff;
  font-size: 1.2rem;
  font-family: "Source Sans Pro", sans-serif;
padding: 2rem 1rem;
line-height: 25px;
}
nav ul li a:hover{
  color: #c9b7be;
}
  h3{
      /* margin: 0 0 0 0.5rem; */
      color: #000000;
  }
nav ul li a.active,a:hover{
  color: #8f81bc;
}
.container{
  display: flex;
  align-items: center;
}
#checkbtn{
  float: right;
  line-height: 80px;
  margin-right: 10px;
  font-size: 30px;
  color: #fff;
  display: none;
}
#check{
  display: none;
}
#check:checked ~ ul{
left: 0;
}
button{
  width: 4rem;
    height: 2rem;
    border: 2px solid #fff;
    border-radius: 1rem;
    margin: 0 0.5rem 0 0;
    font-size: 1rem;  
    color: #e72e77;
}
button:hover{
    border: 2px solid #fff; 
    color: #fff;
    background: #e72e77;
}
@media (max-width:895px) {
  label .logo{
      font-size: 20px;
  }
  #checkbtn{
 display: block;
  }
  nav ul{
      width: 100%;
      height: 100vh;
      background:#e94084;
      position: fixed;
      top: 64px;
      left: -100%;
      transition: 0.5s;
  }
  nav ul li{
      display: block;
      text-align: center;
      line-height: 50px;
      margin: 20px;
     
  }
  .select{
    height: 6rem;
    padding: 4rem 0 5rem 0;
      
  }
  

}


.brand{
  display: flex;
  align-items: center;
}










/* LANDING */

.brand img {
  height: 4rem;
}
.brand {
  display: flex;
}
.logotext {
  font-size: 1.5rem;
  color: white;
  font-family: "Lobster", cursive;
 
}

.btn {
  border: 2px solid #fff;
  width: rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #e72e77;
  color: white;
  margin: 1rem;
}
.btn:hover {
  border: 2px solid #e72e77;
  width: 9rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #e72e77;
}

.btn1 {
  margin: 5rem 0;
  border: 2px solid #fff;
  width: 9rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #e72e77;
  color: white;
}
.btn1:hover {
  border: 2px solid #e72e77;
  width: 9rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #e72e77;
}

.main::before {
  height: 100vh;
  content: "";
  position: absolute;
  background-image: url("	https://www.dulhaniyaa.com//assets/image/webcover1.jpg");
  width: 100%;
  height: 100vh;
  z-index: -1;
}
h1 {
  font-size: 3rem;
  color:#e72e77 ;
  font-family: "Lobster", cursive;
  text-align: center;
}

.select {
  position: relative;
  top: 14rem;
  padding: 3rem 0 0 0;
  height: 220px;
  color: white;
  background: #0000000a;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 600px;
  text-align: center;
  /* z-index: -1; */
}

/* about */


@media (max-width: 480px){
  p{
    text-align: center;
  }
  .about-text{
    font-size: 1rem;
    width: 90%;
  }
}
.about{
  margin: 1rem 0;
  border: 2px solid #fff;
  width: 9rem;
  font-size: 1rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #e72e77;
  color: white;
}
a:hover {
  color: #e72e77;
}
.about:hover {
  border: 2px solid #e72e77;
  width: 9rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  color: #e72e77;
}


.clients {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.clients2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-blog {
  margin: 1rem 0;
  border: 2px solid #e6dbdb;
  border-radius: 1rem;
  width: 100%;
  height: 16rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.2s;
  cursor: pointer;
  background-color: #ffffff;
}
.card-blog img {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  height: 13rem;
  width: 100%;
}
.card-blog:hover {
  transform: scale(1.05);
}
.card-text {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  color: rgb(5, 5, 5);
}

.text1 {
  margin: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  width: 60%;
  float: right;
  font-size: 1.3rem;
}
.text2 {
  margin: 1rem;
  width: 60%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3rem;
  float: right;
}
.pic2 img {
  height: 9.3rem;
  float: left;
}

/* ABOUT */

.main-about::before {
  height: 100vh;
  content: "";
  position: absolute;
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
}
h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(206, 100, 135);
  font-size: 2rem;
}
.about-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
color: black;
}
p {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #e72e77;
  /* text-align: center; */
}
.about-nav {
  background: transparent;
  float: right;
}

/* LOGIN */

.wrapper {
  position: relative;
  max-width: 430px;
  height: 30rem;
  margin-top: 2rem;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
align-items: center;}
.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #e72e77;
}
.wrapper form {
  margin-top: 30px;
}
.wrapper form .input-box {
  height: 52px;
  margin: 18px 0;
}
form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 5px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid {
  border-color: #e72e77;
}
form .policy {
  display: flex;
  align-items: center;
}
form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background-color: #e72e77;
  cursor: pointer;
}
.input-box.button input:hover {
  background-color: #d66693;
}
form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}
form .text h3 a {
  color: #d5608f;
  text-decoration: none;
}
.main5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f5eaee;
}


@media screen and (min-width: 481px) and (max-width: 1024px) {
  .navLinks{
    align-items: center;
  }
 
  .wrapper {
    height: 29rem;
  }
  .main2 {
    background-color: #f5ebef;
  }
  .main {
    height: 100%;
  }

  .card {
    width: 70%;
  }
  .main {
    background-image: url("	https://www.dulhaniyaa.com//assets/image/webcover1.jpg");
    background-repeat: no-repeat;
  }
  .select {
   
    height: 6rem;
  padding: 4rem 0 8rem 0;
  /* z-index: -1; */
  }
  .text h2 {
    font-size: 2rem;
  }
  .text h3 {
    font-size: 1.5rem;
  }
  .card2 {
    width: 100%;
  }
  .clients {
    display: flex;
  }
  .clients2 {
    display: flex;
  }
  .text1 {
    flex-direction: column;
    font-size: 1rem;
  }
  .text2 {
    flex-direction: column;
    font-size: 1rem;
  }
  .destination{
   display: flex;
 flex-wrap: wrap;
   
  }
 
  
}


@media (max-width: 480px) {
  .select {
   
    height: 6rem;
  padding: 4rem 0 5rem 0;
    z-index: -1;  
  }
  .text h2 {
    font-size: 1.5rem;
  }
  .text h3 {
    font-size: 1rem;
  }

  .main {
    background-image: url("	https://www.dulhaniyaa.com//assets/image/webcover1.jpg");
    background-repeat: no-repeat;
  }
  .main2 {
    background-color: #f5ebef;
  }
  
  h1{
    font-size: 2rem;
    margin: 0 1rem 0 0 ;
  }
  
  /* nav {
    height: 4rem;
  }
  nav ul li a{
    display: flex;
    font-size: 0.5rem;

  } */
  
  .logotext {
    font-size: 1.5rem;
    line-height: 4  rem;
    color: white;
    font-family: "Lobster", cursive;
    padding: 0 0.7rem;
  }
  .brand{
    display: flex;
    align-items: center;
    justify-content: c;
  }
  
  .destination {
    display: flex;
    flex-wrap: wrap;
  }
  .clients {
    display: flex;
    flex-wrap: wrap;
    
  }
  .clients2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  
  .text1{
    width: 100%;
  }
  
  .text2{
    width: 100%;
  }
  .wrapper {
height: 27rem;
}
button ul li{
  color: #e72e77;
  width: 2rem;
  font-size: 1rem;
  
  }
  button{
    /* display: none; */
  }
  
}
